@import "normalize.css";
@keyframes show {
  0% {
    right: -200px;
  }
  50% {
    right: -100px;
  }
  100% {
    right: 0px;
  }
}
@keyframes cart {
  0% {
    top: 88vh;
  }
  100% {
    top: 80vh;
  }
}
:root {
  font-size: 10px;
}
html {
  font-family: 'Medium', 'Times New Roman', Times, serif;
  font-weight: 400;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'Medium';
  src: url('GenWanMin-M.ttc') format("truetype");
}
a {
  text-decoration: none;
  color: #000;
}
h1 {
  font-size: 5rem;
  margin: 0;
  line-height: 1.5;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.8rem;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.container {
  margin: 0 auto;
  width: 75%;
}
.container .banner_Wrapper {
  position: relative;
  width: 100%;
  height: 40vh;
  background: radial-gradient(circle, rgba(204, 204, 204, 0.356), rgba(255, 255, 255, 0)), no-repeat url(../../shopImg/banner8.jpg) center, #313131;
  background-size: 80%;
  background-attachment: scroll;
  background-position: right 0 top 40%;
}
.container .banner_Wrapper .banner_Promote {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 4rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(90deg, #313131 0%, rgba(226, 226, 226, 0.03405112) 100%);
}
.container .banner_Wrapper:hover .promote_ImageWrapper {
  animation: zoom 1s ease;
}
.container .banner_Wrapper .promote_TextWrapper {
  height: 10rem;
  display: flex;
  align-items: flex-end;
}
.container .banner_Wrapper .promote_TextWrapper .promote_Text {
  margin-left: 3rem;
  font-size: 3rem;
  padding-bottom: 1rem;
}
.container .banner_Wrapper .promote_ImageWrapper {
  width: 10rem;
  height: 10rem;
}
.container .banner_Wrapper .promote_Img {
  display: block;
  width: 100%;
  padding-top: 100%;
  background: center url(../../shopImg/disco/al_01.jpg) no-repeat;
  background-size: cover;
  animation: zoom 0.5s ease;
}
.container .banner {
  color: #fff;
}
.container .banner h1:first-child {
  font-size: 8rem;
  padding-top: 2rem;
}
.container .banner h1 {
  padding-left: 4rem;
  margin: 0;
}
.container .goods_Menu {
  margin: 2rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .goods_Menu a {
  font-size: 2rem;
  position: relative;
  padding: 0rem 1rem 0.1rem 1rem;
  border-right: 1px solid #000;
  transition: all 0.5s;
}
.container .goods_Menu a::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: width 0.35s cubic-bezier(0.65, 0, 0.35, 1);
  transition: width 0.35s cubic-bezier(0.65, 0, 0.35, 1);
  border-bottom: 1px solid #000;
  width: 0;
  height: 1px;
  content: "";
}
.container .goods_Menu a:hover::before {
  background-color: #000000;
  width: 100%;
}
.container .footer {
  box-sizing: border-box;
  font-size: 1.5rem;
  width: 100%;
  margin: 6rem 0rem;
  padding: 1rem 2rem;
  border-top: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
}
.container .footer .footer_Contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
.container .footer .iconWrapper {
  font-size: 2rem;
  margin: 0 1rem;
}
.container .footer a {
  transition: 0.5s all;
}
.container .footer a:hover {
  color: #BD2D00;
}
.container .input_Error {
  margin: 0 auto;
  text-align: center;
  display: none;
  font-size: 1.8rem;
  color: #ee0a21;
}
#signIn_Section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
#signIn_Section #signInForm_Wrapper {
  position: absolute;
  width: 30%;
  background-color: #fff;
  border: 1px solid #000;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 50vh;
  display: none;
  overflow-y: scroll;
  max-height: 100%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
#signIn_Section #signInForm_Wrapper::-webkit-scrollbar {
  display: none;
}
#signIn_Section #signIn_Form h1,
#signIn_Section #signIn_Form h4 {
  text-align: center;
}
#signIn_Section #signIn_Form h1 {
  border-bottom: 1px solid #000;
}
#signIn_Section #signIn_Form h4 {
  font-weight: 400;
  width: 70%;
  margin: 2rem auto;
}
#signIn_Section #signIn_Form .signInInput_Wrapper {
  margin-top: 5rem;
}
#signIn_Section #signIn_Form .signInInput_Field {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
#signIn_Section #signIn_Form .signInInput_Field h4 {
  width: 70%;
  margin-bottom: 1rem;
  text-align: left;
  font-weight: 700;
}
#signIn_Section #signIn_Form .signInInput_Field input {
  width: 70%;
  margin: 0 auto;
  font-size: 1.8rem;
  height: 3rem;
}
#signIn_Section #signIn_Form .signInInput_Field i {
  position: relative;
  font-size: 2rem;
  padding: 0.5rem;
  align-self: flex-end;
  bottom: 3.5rem;
  right: 15%;
  cursor: pointer;
}
#signIn_Section #signIn_Form #signin_Submit {
  display: block;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 700;
  background-color: #fff;
  color: #000;
  border: 3px solid #000;
  width: 50%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 4rem auto;
  transition: all 0.5s;
}
#signIn_Section #signIn_Form #signin_Submit:hover {
  background-color: #000;
  color: #fff;
}
#signIn_Section #signIn_Form #signIn_Forget {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #868686;
  text-align: center;
  transition: all 0.5s;
  border-bottom: 1px solid #000;
}
#signIn_Section #signIn_Form #signIn_Forget:hover {
  color: #000;
}
#signIn_Section #signIn_Form .signIn_Create {
  margin: 5rem auto;
  color: #868686;
}
#signIn_Section #signIn_Form .signIn_Create h4,
#signIn_Section #signIn_Form .signIn_Create a {
  font-size: 1.8rem;
}
#signIn_Section #signIn_Form .signIn_Create a {
  color: #000;
}
#signIn_Section #signIn_Form .signIn_Create #signIn_CreateLink {
  text-decoration: underline;
}
#signIn_Section #signIn_Success {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  border-top: 1px solid #000;
  border-bottom: 2px solid #000;
  padding: 2rem;
}
#signIn_Section #signIn_Success h1 {
  text-align: center;
}
.navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin-top: 5rem;
  padding: 1rem 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 2;
}
.navBar .logo a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navBar .logo a .logo_Icon {
  width: 5rem;
  height: 5rem;
}
.navBar .logo a .logo_Text {
  position: relative;
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.navBar .logo a .logo_Text::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: width 0.35s cubic-bezier(0.65, 0, 0.35, 1);
  transition: width 0.35s cubic-bezier(0.65, 0, 0.35, 1);
  border-bottom: 1px solid #000;
  width: 0;
  height: 1px;
  content: "";
}
.navBar .logo a .logo_Text:hover::before {
  background-color: #000;
  width: 100%;
}
.navBar .nav_Menu {
  font-size: 3rem;
}
.navBar .nav_Menu a {
  position: relative;
  padding: 1rem 1rem 0.1rem 1rem;
  border-right: 1px solid #000;
  transition: all 0.5s;
  flex: 1;
  color: #6E6E6E;
}
.navBar .nav_Menu a::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: width 0.35s cubic-bezier(0.65, 0, 0.35, 1);
  transition: width 0.35s cubic-bezier(0.65, 0, 0.35, 1);
  border-bottom: 1px solid #000;
  width: 0;
  height: 1px;
  content: "";
}
.navBar .nav_Menu a:hover::before {
  background-color: #000;
  width: 100%;
}
.navBar .nav_Menu .selected {
  color: #000;
  font-weight: 700;
}
.cartWrapper {
  position: fixed;
  left: 87.5%;
  top: 75vh;
  width: 6rem;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  transition: 0.5s all;
}
.cartWrapper:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  cursor: pointer;
  border: 2px solid #000;
}
.cartWrapper:hover svg {
  fill: #000;
}
.cartWrapper:hover p:nth-child(2) {
  border-bottom: 2px solid #000;
}
.cartWrapper svg {
  box-sizing: border-box;
  padding: 1.2rem;
  fill: #fff;
}
.cartWrapper p {
  text-align: center;
  margin: 0 auto;
  font-size: 1.8rem;
}
.cartWrapper p:nth-child(2) {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  border-bottom: 2px solid #fff;
}
.cartWrapper p:nth-child(3) {
  width: 100%;
  height: 40px;
  padding-bottom: 0.5rem 0;
  line-height: 40px;
}
.cartWrapper .cart_Number {
  font-size: 2rem;
}
.cartWrapper .toTop {
  border-top: 5px solid #fff;
}
.cartWrapper .toTop:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #ffffff;
  cursor: pointer;
  border: 2px solid #000;
}
.cartWrapper .toTop:hover svg {
  fill: rgba(0, 0, 0, 0.6);
}
.cartWrapper .toTop svg {
  display: block;
  margin: 0 auto;
}
.cartWrapper .toTop a {
  display: block;
  margin: 0 auto;
}
.cartWrapper #cart_Number {
  font-size: 2rem;
  font-weight: 700;
}
.cart_Animate {
  animation: cart 1.5s ease-in-out;
}
.button_Disable {
  pointer-events: none !important;
  background-color: #6E6E6E !important;
  color: #fff !important;
}
.tableWrapper {
  width: 90%;
  margin: 0 auto;
  overflow-x: scroll;
  padding-bottom: 6rem;
}
.tableWrapper table {
  width: 100%;
  font-size: 2rem;
  border-spacing: 0px;
}
.tableWrapper table .table_Header {
  background-color: #000;
  color: #fff;
  font-weight: 400;
  padding: 1rem 3rem;
  border: 0.5px solid #303030;
  border-right: 0;
}
.tableWrapper table .table_Header:last-child {
  border-right: 0.5px solid #303030;
}
.tableWrapper table .table_Data {
  text-align: center;
  padding: 0.5rem 2rem;
  border: 0.5px solid #303030;
  border-right: 0;
}
.tableWrapper table .table_Data:last-child {
  border-right: 0.5px solid #303030;
}
.tableWrapper table .table_Data img {
  display: block;
  width: 5rem;
  margin: 1rem auto;
}
.tableWrapper table .table_Data_Row:hover {
  background-color: #f5f5f5;
}
.tableWrapper table .table_Data_Row .delete_Cart {
  border: 0;
  background-color: transparent;
  color: #BD2D00;
  cursor: pointer;
  transition: 0.5s all;
}
.tableWrapper table .table_Data_Row .delete_Cart:hover {
  color: #a32e2e;
  text-decoration: underline;
}
tfoot {
  margin-top: 2rem;
}
.checkoutSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.checkout_Button {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  background-color: #000;
  border: 1px solid #000;
  border: 0;
  color: #fff;
  transition: 0.5s all;
}
.checkout_Button:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}
.total_Title {
  padding: 2rem;
  font-size: 3rem;
  text-align: right;
  border-top: 5px solid #000;
}
@media screen and (max-width: 1080px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
  .container .banner {
    color: #fff;
  }
  .container .banner h1:first-child {
    font-size: 6rem;
    padding-top: 2rem;
  }
  .container .banner h1 {
    padding-left: 4rem;
    margin: 0;
  }
  .container .banner_Wrapper .promote_ImageWrapper {
    width: 14rem;
  }
  .container .navBar {
    flex-direction: column;
    align-items: flex-start;
  }
  .container .navBar .logo {
    margin-bottom: 4rem;
  }
  .container .navBar .nav_Menu {
    width: 100%;
  }
  .container .navBar .nav_Menu a {
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
  }
  .container #signIn_Section #signInForm_Wrapper {
    width: 60%;
  }
}
@media screen and (max-width: 500px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }
  .container .banner_Promote {
    bottom: -50px;
  }
  .container .banner_Promote .promote_TextWrapper {
    height: 10rem;
  }
  .container .banner_Promote .promote_TextWrapper .promote_Text {
    font-size: 2rem;
  }
  .container .banner_Wrapper {
    background-size: 130%;
  }
  .container .banner_Wrapper .promote_ImageWrapper {
    width: 20rem;
  }
  .container .logo {
    margin-bottom: 4rem;
  }
  .container .navBar {
    position: static;
  }
  .container .navBar .nav_Menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .container .navBar .nav_Menu a {
    display: inline-block;
    width: 80%;
    text-align: center;
    border-right: 0px;
    border-bottom: 2px solid #000;
  }
  .container .logo {
    margin: 0 auto;
  }
  .container .footer {
    font-size: 2rem;
  }
  .container .footer .iconWrapper {
    font-size: 3rem;
  }
  .container #signIn_Section #signInForm_Wrapper {
    width: 80%;
  }
  .container #signIn_Section #signIn_Form h1 {
    font-size: 4rem;
  }
  .container #signIn_Section #signIn_Form .signInInput_Wrapper {
    margin-top: 3rem;
  }
  .container #signIn_Section #signIn_Form .signInInput_Field {
    width: 90%;
  }
  .container #signIn_Section #signIn_Form #signin_Submit {
    margin: 2rem auto;
    width: 70%;
  }
}
@media screen and (max-width: 400px) {
  .cartWrapper {
    left: 80%;
  }
}
