@import "default.css";
.itemWrapper {
    width: 100%;
    margin: 8rem auto;
    display: flex;
}

.itemWrapper .itemImg {
    width: 50%;
}

.itemWrapper .itemImg .img_MainWrapper {
    width: 100%;
}

.itemWrapper .itemImg .img_MainWrapper .img_Main {
    margin: 0 auto;
    width: 80%;
    padding-top: 96%;
    background: center url(../../shopImg/Item1/Item1_1.jpg) no-repeat;
    background-size: cover;
    transition: all 0.1s;
}

.itemWrapper .itemImg .img_Row {
    margin: 2rem auto;
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.itemWrapper .itemImg .img_Row .img_BottomWrapper {
    padding: 0 0.5rem;
    width: 20%;
}

.itemWrapper .itemImg .img_Row .img_BottomWrapper .img_Bottom {
    margin: 0 auto;
    width: 100%;
    padding-top: 120%;
    background: center url(../../shopImg/Item1/Item1_3.jpg) no-repeat;
    background-size: cover;
    transition: filter 0.5s;
}

.itemWrapper .itemImg .img_Row .img_BottomWrapper .img_Bottom:hover {
    filter: brightness(0.8);
}

.itemInform {
    width: 50%;
}

.itemInform .item_Title {
    width: 100%;
    font-size: 4rem;
    border-bottom: 1px solid #000;
}

.itemInform .item_IntroText {
    margin-top: 3rem;
    font-size: 2rem;
    line-height: 2;
}

.itemInform_Bottom {
    display: flex;
    margin-top: 5rem;
}

.itemInform_Bottom .informL {
    font-size: 1.4rem;
    line-height: 1.5;
    width: 40%;
}

.itemInform_Bottom .informL ul {
    margin: 0;
    padding: 0;
    padding-right: 2rem;
}

.itemInform_Bottom .informL ul li {
    color: #6e6e6e;
    margin-bottom: 1rem;
}

.itemInform_Bottom .informL a {
    background-color: #ffffff;
    color: #6e6e6e;
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem;
    width: 40%;
    font-size: 2rem;
    border: 1px solid #a0a0a0;
    text-align: center;
    transition: all 0.5s;
}

.itemInform_Bottom .informL a:hover {
    background-color: #ffffff;
    color: #000000;
}

.itemInform_Bottom .informR {
    width: 60%;
    font-size: 3rem;
}

.itemInform_Bottom .informR .informR_Title {
    font-weight: 700;
    width: 80%;
    border-bottom: 1px solid #000;
    margin-bottom: 2rem;
}

.itemInform_Bottom .informR .item_Size label {
    margin-right: 1rem;
}

.itemInform_Bottom .informR .priceNumber {
    font-size: 4rem;
}

.itemInform_Bottom .informR .item_Checkout {
    padding: 2rem 3rem;
    display: flex;
    justify-content: flex-end;
}

.itemInform_Bottom .informR .item_Checkout button {
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
}

.itemInform_Bottom .informR .item_Checkout button:hover {
    background-color: #ffffff;
    color: #6e6e6e;
}

.itemInform_Bottom .informR .item_Checkout button:nth-child(2) {
    background-color: #ffffff;
    color: #000000;
}

.itemInform_Bottom .informR .item_Checkout button:nth-child(2):hover {
    background-color: #000000;
    color: #ffffff;
}

.itemInform_Bottom .informR .item_Number,
.itemInform_Bottom .informR .item_Price,
.itemInform_Bottom .informR .item_Checkout {
    margin-top: 5rem;
}

@media screen and (max-width: 1280px) {
    .itemInform_Bottom .informR {
        font-size: 2rem;
    }
}

@media screen and (max-width: 900px) {
    .itemWrapper {
        flex-direction: column;
        align-items: center;
    }
    .itemWrapper .itemImg,
    .itemWrapper .itemInform {
        width: 80%;
    }
    .itemWrapper .itemInform {
        order: -1;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .itemInform_Bottom {
        flex-direction: column;
        align-items: center;
    }
    .itemInform_Bottom .informL,
    .itemInform_Bottom .informR {
        width: 80%;
    }
    .itemInform_Bottom .informR {
        order: -1;
    }
    .itemInform_Bottom .informR .item_Checkout {
        padding: 0;
        margin-bottom: 2rem;
    }
}
